/*=========== RESET ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1, 625rem;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background: var(--base-color-alt);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-light);
  border-radius: 999px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*=========== VARIABLES ========================= */
:root {
  --base-color: #9f9f9f;
  --base-color-second: #ffcc33;
  --base-color-alt: #7a2b58;
  --base-color-blue: #03b5b0;
  --base-color-red: #ff3737;
  --title-color: #f7f4f;
  --text-color: #363636;
  --text-color-light: #fafafa;
  --body-color: #fafafa;
}

/*=========== BASE ========================= */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--text-color-light);
  -webkit-font-smoothing: auto;
}
.subtitle {
  padding: 2rem;
  color: var(--text-color-light);
}

.subtitle-business {
  color: var(--base-color-second);
  line-height: 5rem;
  height: 4rem;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.2s;
}

.button:hover {
  background-color: var(--base-color-alt);
}

/*=========== LAYOUT ========================= */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 0.5rem 0;
}

#contact {
  align-items: center;
  justify-content: space-around;
  display: flex;
  background: var(--base-color-alt);
}

#contact img {
  height: 3.5rem;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);

  transition: 0.2s;
}

main {
  margin-top: calc(4.5rem + 2rem);
}

/*=========== LOGO ========================= */

.logo {
  font: 700 1.3125rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

/*=========== NAVIGATION ========================= */

nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav .icon-close {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 1.5rem;
  top: -1.5rem;

  transition: 0.2s;
}

.toggle {
  font-size: 1.5rem;
  color: var(--base-color);
  cursor: pointer;
}

/* Mostrar Menu */

nav.show .icon-close {
  opacity: 1;
  visibility: visible;
  top: 1.5rem;

  transition: 0.3s;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background-color: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

nav.show ul li {
  text-align: center;
}

/*=========== HOME ========================= */

#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home {
  position: relative;
  background-image: url('assets/fotos/header-1920.png');
  height: 90vh;
  background-repeat: no-repeat;
}

#home .LogoImg {
  height: 4rem;
}

#home .text {
  padding-top: 6rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

/*=========== ABOUT ========================= */

#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
  z-index: 1;
}

/* #about .image::before {
  content: '';
  position: absolute;
  left: -7.54rem;
  top: -1.33rem;
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  z-index: -1;
} */

/* #about .about {
  margin: 0 1.5rem;
}

#about .image,
#about .image::before {
  border-radius: 0.25rem;
} */

/*=========== BUSINESS ========================= */
#Business {
  background-color: var(--base-color-alt);
  width: 100%;
  text-align: center;
}

.businessContent {
  border: 2px solid var(--body-color);
  width: calc(50%);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  color: var(--text-color-light);
  margin-right: calc(25%);
  margin-left: calc(25%);
}

.businessText {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 2rem;
}

.iconBusiness {
  height: 5rem;
}
/*=========== DROPDOWN ========================= */

.dropdownCard {
  background: var(--base-color-blue);
  text-align: center;
  /* margin-bottom: 10rem; */
}

.dropdownHeader {
  text-align: center;
  color: var(--base-color-second);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 5rem;
}

.cardContainer img {
  height: 7rem;
  width: 7rem;
}

.card01 {
  background: var(--body-color);
  border-radius: 10px;
}

.card01 p {
  visibility: hidden;
  background: var(--base-color-second);
  color: var(--base-color-alt);
}

.card02 {
  background: var(--body-color);
  border-radius: 10px;
}
.card03 {
  background: var(--body-color);
  border-radius: 10px;
}

.footerCard {
  background: var(--base-color-alt);
  height: 2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footerCard img {
  width: 2rem;
  height: 2rem;
  align-items: center;
}

.footerCard button {
  margin-top: 0.5rem;
  border-radius: 30px;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}

/*=========== 4 section  ========================= */

.section4 {
  background: var(--text-color);
  color: var(--text-color-light);
  padding-top: 8rem;
  padding-bottom: 5rem;
}

#section4Title {
  color: var(--base-color-blue);
  text-align: center;
}

.section4Card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 2rem;
  padding: 5rem;
  align-items: center;
}
/*=========== SERVICES ========================= */

#InterativeImg {
  height: 40rem;
  width: 40rem;
}

.cards-grid img {
  height: 1.25rem;
}

#yellow-circle {
  border: 1px solid var(--text-color);
  background-color: var(--base-color-second);
  border-radius: 100%;
  text-overflow: initial;
  height: 20rem;
  width: 20rem;
}

.text-yellow {
  text-align: center;
  padding-top: calc(20%);
  margin: 2rem;
}

#gray-circle {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  border-radius: 100%;
  text-overflow: initial;
  height: 20rem;
  width: 20rem;
  color: var(--text-color-light);
}

.text-gray {
  text-align: center;
  padding-top: calc(20%);
  margin: 2rem;
}

#red-circle {
  border: 1px solid var(--text-color);
  background-color: var(--base-color-red);
  border-radius: 100%;
  text-overflow: initial;
  height: 20rem;
  width: 20rem;
  color: var(--text-color-light);
}

.text-red {
  text-align: center;
  padding-top: calc(20%);
  margin: 2rem;
}

#services .button-top {
  background: var(--base-color-blue);
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 30px;
}

#services .button-left {
  background: var(--base-color-blue);
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 30px;
}

#services .button-right {
  background: var(--base-color-blue);
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 30px;
}
