/*=========== RESET ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1, 625rem;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background: var(--base-color-alt);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-light);
  border-radius: 999px;
}

a {
  text-decoration: none;
}

button:hover {
  transition: 0.2s;
  background: #e0e0e0;
}

/*=========== VARIABLES ========================= */
:root {
  --base-color: #9f9f9f;
  --base-color-second: #ffcc33;
  --base-color-alt: #7a2b58;
  --base-color-blue: #03b5b0;
  --base-color-red: #ff3737;
  --title-color: #f7f4f;
  --text-color: #363636;
  --text-color-light: #fafafa;
  --body-color: #fafafa;
}

/*=========== BASE ========================= */

body {
  font: 400 1.25rem 'Poppins', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 2.5rem 'Poppins', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: auto;
}
.subtitle {
  padding: 2.5rem;
  color: var(--text-color-light);
}

/* ===========RESPONSIVIDADE ===================== */

@media (max-width: 600px) {
  body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
  }
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }

  #header {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
  }

  .logo {
    font: 700 1.3125rem 'Poppins', sans-serif;
    color: var(--base-color-alt);
    font-size: x-large;
  }

  .containerGridHeader {
    background-image: url('../assets/fotos/header-360.png');
  }

  /* ======= BUSINESS CONTAINER */

  #businessContainerDiv {
    flex-direction: column;
  }

  #businessContainerImg {
    max-width: 5rem;
    margin-bottom: auto;
    text-align: center;
  }

  #businessContainerText {
    font-size: initial;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  #businessIconBlue {
    display: none;
  }

  /* ========== 4 SECTION RESPONSIVA =========== */

  .section4Card {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  .section4Text {
    margin: 2rem;
  }

  /* ========== SERVICES RESPONSIVA =========== */

  .InterativeImgBg {
    background-size: 95%;
  }

  #yellowCircle {
    height: 11rem;
    width: 11rem;
  }

  #baseCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    margin-top: -9.25rem;
  }

  .card1 {
    margin-right: 0;
  }
}

/*=========== HEADER ========================= */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

#header {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

.logo {
  font: 700 1.3125rem 'Poppins', sans-serif;
  color: var(--base-color-alt);
  font-size: x-large;
}

/* ============ FOOTER ============== */

#contact {
  margin-top: 10rem;
  padding: 3rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background: var(--base-color-alt);
}

#contact img {
  height: 3.5rem;
}

/*=========== NAVIGATION ========================= */

nav {
  height: 4.5rem;
  display: flex;
  text-align: center;
  width: 100%;
}

/*=========== HOME ========================= */

.containerGridHeader {
  background-image: url('../assets/fotos/header-1920.png');
  position: relative;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .LogoImg {
  height: 4rem;
}

#home .text {
  padding-top: 6rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

.title-header {
  font: 700 1.875rem 'Poppins', sans-serif;
  padding: 2rem;
  color: var(--text-color-light);
  -webkit-font-smoothing: auto;
}

/*=========== BUSINESS ========================= */
.businessContainer {
  width: 100%;
  min-height: 40rem;
  background-color: var(--base-color-alt);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

.businessContainer h2 {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: var(--base-color-second);
}

#businessContainerDiv {
  display: flex;
  width: 90%;
  height: 100%;
  max-width: 70rem;
  margin: 0 auto;
  margin-bottom: 8rem;
  padding-bottom: 3rem;
  border: 3px solid var(--body-color);
  border-radius: 15px;
  font-size: 1.25rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#businessContainerImg {
  width: 10rem;
}

#businessContainerText {
  width: 50%;
}

#businessContainerP {
  margin: 25px;
}

.bulletsIcon {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 20px;
}
.bulletsIcon img {
  display: flex;
  width: 10px;
  margin: 10px;
  color: #ffcc33;
}

#businessIconBlue {
  max-height: 9rem;
  position: absolute;
  left: -11rem;
  bottom: -2rem;
}

/*=========== DROPDOWN ========================= */

.dropdownCard {
  background: var(--base-color-blue);
  text-align: center;
  padding-bottom: 10rem;
}

.dropdownHeader {
  font-size: x-large;
  text-align: center;
  padding: 2rem;
  color: var(--base-color-second);
}

.textContainer {
  padding: 1rem;
}

#cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 5rem;
}

#cardContainer img {
  height: 9rem;
  width: 9rem;
}

#footerCard1,
#footerCard2,
#footerCard3 {
  background: var(--base-color-alt);
  height: 2rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#footerCardHide1,
#footerCardHide2,
#footerCardHide3 {
  background: var(--base-color-second);
  height: 2rem;
}

.card01,
.card02,
.card03 {
  background: var(--body-color);
  border-radius: 10px;
  padding-top: 2rem;
}

#textShow1,
#textShow2,
#textShow3 {
  padding: 2rem;
  background: var(--base-color-second);
  color: var(--base-color-alt);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}

#arrowUpButton1,
#arrowUpButton2,
#arrowUpButton3 {
  margin-top: 0.5rem;
  border-radius: 30px;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background-image: url(../assets/icones/icones/icon-arrow-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--base-color-alt);
}

#toggleButton1,
#toggleButton2,
#toggleButton3 {
  margin-top: 0.5rem;
  border-radius: 30px;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background-image: url(../assets/icones/icones/icon-arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/*=========== 4 section  ========================= */

#section4Title {
  color: var(--base-color-blue);
  text-align: center;
}

.section4 {
  background: var(--text-color);
  color: var(--text-color-light);
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.section4Card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 2rem;
  padding: 5rem;
  align-items: center;
}

.image img {
  width: 80%;
}

/*=========== SERVICES ========================= */

#titleServices {
  text-align: center;
  padding: 1rem;
}

#textServicesContainer {
  padding: 2rem;
  margin-bottom: 9rem;
}

.InterativeImgBg {
  height: 41rem;
  width: 41rem;
  background-image: url('../assets/icones/icones/interactive.svg');
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textYellow,
.textGray,
.textRed {
  text-align: center;
  padding-top: calc(20%);
  margin: 2rem;
}

.card1 {
  text-align: center;
  margin-bottom: -10rem;
}

#yellowCircle {
  border: 1px solid var(--text-color);
  background-color: var(--base-color-second);
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  z-index: -1;
  display: none;
}

#grayCircle {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  margin-right: 2.5rem;
  color: var(--text-color-light);
  display: none;
}

#redCircle {
  border: 1px solid var(--text-color);
  background-color: var(--base-color-red);
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  margin-right: 2.5rem;
  color: var(--text-color-light);
  display: none;
}

.textRed {
  text-align: center;
  padding-top: calc(20%);
  margin: 2rem;
}

#baseCardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: -9.25rem;
  margin-right: 2rem;
}
.card2 {
  margin-left: 2rem;
}
.card3 {
  margin-left: -2rem;
}

#buttonTop,
#buttonLeft,
#buttonRight {
  background: var(--base-color-blue);
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-image: url(../assets/icones/icones/icon-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
}

#buttonTop:hover,
#buttonLeft:hover,
#buttonRight:hover {
  background: #00d3cc;
  transition: background-color 0.2s;
  background-image: url(../assets/icones/icones/icon-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
}

#buttonTopClose,
#buttonLeftClose,
#buttonRightClose {
  background: var(--base-color-alt);
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-image: url(../assets/icones/icones/icon-minos.svg);
  background-position: center;
  background-repeat: no-repeat;
}
